@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  color: hsl(218, 44%, 22%);
  font-family: Outfit, sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  padding: 1rem;
}

.qr__card {
  max-width: 360px;
  margin: auto;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
}

qr__card-qr {
  width: 100%;
}


.qr__card-qr img {
  max-width: 100%;
  border-radius: .5rem;
  }
  
.qr__card :is(h1, p) {
  margin-top: 1.5rem;
  text-transform: uppercase;
}

p {
  text-transform: lowercase;
  color: hsl(220, 15%, 55%);
  margin-bottom: 40px;
}
